*{
    margin:0;
    padding:0;
    color: white;
    font-family: 'Allura', cursive;
}
.header{
    height:20vh;
    background-color: black;

    text-align: center;
    font-size: 4rem;
}
#content{
    height: 100vh;    
    margin: auto;
    width: 100vw;
    background-image: url(./assets/home-page.png);
    background-size: cover;
    background-position: center;
    
}
.container{
    font-size: 3rem;;
    margin: 10px auto;
    padding: 20px;
    height:600px;
    width:600px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color:rgba(0, 0, 0, 0.75);
}
.image-container{
    width: 30%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}
.image-container>img{
    width:110%;
    height:110%;
}
